@import 'bootstrap';

html {
  body {
    margin: 90px 0 50px;
  }
}

.router-link-active {
  @extend .nav-link.active;
}

.todo-item {
  span {
    display: block;
    padding: .435rem .8rem;
  }

  input {
    &[type='checkbox'] {
      display: none;
      margin: 13px 0 0;
    }
  }

  button {
    display: none;
  }

  &:hover {
    input {
      &[type='checkbox'] {
        display: block;
      }
    }

    button {
      display: block;
    }
  }
}
